.offcanvas
    @extend .clearfix

    .offcanvas-sidebar
        position fixed
        top 0
        left 0
        bottom 0
        width 11.25em
        overflow-y auto
        z-index 200
        transition left .25s ease-out
        background-color color_gray_lighter

    .offcanvas-content
        position relative
        min-height 1px
        margin-left 11.25em
        padding-left (grid_gutter_width)
        padding-right (grid_gutter_width)

    .offcanvas-toggle
        display none
        position fixed
        top 0
        left 0
        z-index 300
        border-radius 0
        transition left .25s ease-out

    +media_mobile()
        .offcanvas-sidebar
            left -11.25em

        .offcanvas-content
            margin-left 0

        .offcanvas-toggle
            display block

        &.active
            .offcanvas-toggle
                left 11.25em

            .offcanvas-sidebar
                left 0
