{% extends "ext/base.html" %}

{% block page_title %}Tabs - {% parent %}{% endblock page_title %}

{% block content %}
<h1>Tabs</h1>

<ul class="tabs" role="tablist">
  <li class="active"><a href="#home" role="tab" data-toggle="tab">First tab</a></li>
  <li><a href="#profile" role="tab" data-toggle="tab">Tab 2</a></li>
  <li><a href="#messages" role="tab" data-toggle="tab">Another tab</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">
    <h2>First tab</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper fermentum mi a
    consequat. Nulla diam ipsum, sagittis a tincidunt tristique, condimentum sit amet eros. Ut
    tincidunt dapibus consequat. Donec elementum vulputate placerat. Donec eu nibh eros. Fusce a
    finibus nulla. Aenean quis venenatis massa, ac hendrerit sem. Phasellus finibus urna sed sem
    pulvinar, vitae aliquam est varius. Vestibulum hendrerit interdum ex nec mollis. Sed et
    tincidunt ante, in egestas odio. Mauris vestibulum metus ac ultrices volutpat. Suspendisse
    ullamcorper lorem ac malesuada mollis. Sed sit amet orci iaculis velit fermentum tempus. Mauris
    non dui massa. Quisque gravida quam a tortor pulvinar, vel feugiat nisi molestie.</p>

    <p>Ut et convallis magna, sed iaculis mi. Sed sit amet erat non neque imperdiet sollicitudin.
    Suspendisse tortor lectus, vulputate nec tristique id, porta in mauris. Integer quis erat nibh.
    Mauris eu tempus elit, et pretium elit. Nullam nec ligula laoreet, pretium nulla vel, placerat
    libero. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
  </div>

  <div class="tab-pane" id="profile">
    <h2>Tab 2</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et vitae aut aperiam nisi est itaque
    sit ut ex quidem non temporibus consectetur, quis placeat vero, necessitatibus incidunt quod
    delectus expedita.</p>
  </div>

  <div class="tab-pane" id="messages">
    <h2>Tab 3</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus beatae exercitationem
    dolore ipsam saepe deleniti quo eaque sequi animi suscipit. Nemo, voluptatum, odit. Eos harum
    voluptatibus, earum doloremque reprehenderit sunt!</p>
  </div>
</div>
{% endblock %}
