badge(background_color, color=null, border_color=null)
    background-color background_color
    color color is not null ? color : contrasted(@background-color)
    if border_color
        border 1px solid border_color

    padding border_color ? 1px 3px : 2px 4px
    border-radius 3px
