zindex_dropdow ?= 99

button.dropdown
    &:after
        display inline-block
        content ""
        vertical-align middle
        margin-left 2px
        border-top 5px solid
        border-right 5px solid transparent
        border-left 5px solid transparent

.split-btn
    display inline-table
    vertical-align middle

    / html & > *
        display table-cell
        border-right-width 0
        border-radius 0
        margin 0

    & > *:first-child
        border-radius 3px 0 0 3px

    & > *:last-child
        border-right-width 1px
        border-radius 0 3px 3px 0

    & > .button
        border 1px solid darken(btn_default_bg1, 10%)
        border-right-width 0

ul.dropdown
    @extend $reset_list
    position absolute
    left -9999px
    width 100%
    max-width 10em
    z-index zindex_dropdow
    color color_base
    background-color color_base_bg
    border 1px solid color_gray_light
    border-radius 3px
    box-shadow 1px 1px 3px fade(#000, 0.3)

    &.f-dropdown-tl:before, &.f-dropdown-tl:after
    &.f-dropdown-bl:before, &.f-dropdown-bl:after
    &.f-dropdown-tr:before, &.f-dropdown-tr:after
    &.f-dropdown-br:before, &.f-dropdown-br:after
        content ""
        display block
        width 0
        height 0

    &.f-dropdown-tl:before
    &.f-dropdown-bl:before
    &.f-dropdown-tr:before
    &.f-dropdown-br:before
        border inset 6px
        position absolute
        z-index zindex_dropdow

    &.f-dropdown-tl:after
    &.f-dropdown-bl:after
    &.f-dropdown-tr:after
    &.f-dropdown-br:after
        border inset 7px
        position absolute
        z-index zindex_dropdow - 1

    &.f-dropdown-bl:before
    &.f-dropdown-br:before
        border-color transparent transparent color_base_bg transparent
        border-bottom-style solid

    &.f-dropdown-bl:after
    &.f-dropdown-br:after
        border-color transparent transparent color_gray transparent
        border-bottom-style solid

    &.f-dropdown-tl:before
    &.f-dropdown-tr:before
        border-color color_base_bg transparent transparent transparent
        border-top-style solid

    &.f-dropdown-tl:after
    &.f-dropdown-tr:after
        border-color color_gray transparent transparent transparent
        border-top-style solid

    &.f-dropdown-bl:before
        top -12px
        left 6px

    &.f-dropdown-bl:after
        top -14px
        left 5px

    &.f-dropdown-br:before
        top -12px
        right 6px

    &.f-dropdown-br:after
        top -14px
        right 5px

    &.f-dropdown-tl:before
        bottom -12px
        left 6px

    &.f-dropdown-tl:after
        bottom -14px
        left 5px

    &.f-dropdown-tr:before
        bottom -12px
        right 6px

    &.f-dropdown-tr:after
        bottom -14px
        right 5px

    li a,
    li button
        display block
        padding 4px

        &:hover
        &:focus
            background-color color_gray_lighter

    li button
        border 0
        background transparent
        width 100%
        text-align left
        color color_link
        line-height line_height

        &:hover, &:focus
            color color_link_hover

        &:focus
            outline 1px dotted #000

.dropdown-backdrop
    position fixed
    top 0
    left 0
    bottom 0
    right 0
    z-index zindex_dropdow - 10
