color_classes(name, color)
    .color-{name}
        color_fg color

    .color-{name}-bg
        color_bg color


color_classes('primary', color_primary)
color_classes('success', color_success)
color_classes('info', color_info)
color_classes('warning', color_warning)
color_classes('danger', color_danger)

color_classes('gray', color_gray)
color_classes('gray-dark', color_gray_dark)
color_classes('gray-darker', color_gray_darker)
color_classes('gray-light', color_gray_light)
color_classes('gray-lighter', color_gray_lighter)
