@require "../../core/base/config"
@require "../../core/base/functions"

.list-group
    flow_block()
    padding-left 0

    & > *
        position relative
        display block
        padding remsize(get_line_height() / 2 - .5) remsize(get_line_height() / 2)
        margin-bottom -1px
        background-color $color_base_bg
        border 1px solid $color_gray_light

        &:first-child
            border-top-left-radius 3px
            border-top-right-radius 3px

        &:last-child
            border-bottom-left-radius 3px
            border-bottom-right-radius 3px

    & > a
        &:hover, &:focus
            color $color_link
            background-color $color_gray_lighter
