//
// Pick a good contrasted color
//
contrasted(color, t=#fff, b=#000)
    ct = contrast(t, color)
    cb = contrast(b, color)
    if (ct.ratio > cb.ratio)
        return t
    return b

//
// Set foreground (text) color
//
color_fg(color)
    color: color;

//
// Set background color and contrasted text color
//
color_bg(color)
    background-color color
    color contrasted(color)

//
// Fade color (RGBA)
//
fade(color, value)
    return rgba(color, value)
