@require "./config"
@require "./functions"

//
// Flow block
//
$flow_block
    flow_block()


//
// Max width
//
$max_width
    width 100%


//
// Nowrap
//
$nowrap
    white-space nowrap


//
// Align text
//
$align_right
    text-align left

$align_justify
    text-align justify


//
// Floating
//
$pull_left
    float left
    margin-right remsize(get_line_height() / 2)
    margin-bottom remsize(get_line_height() / 2)

$pull_right
    float right
    margin-left remsize(get_line_height() / 2)
    margin-bottom remsize(get_line_height() / 2)


//
// Clearing
//
$clear
    clear both

$clearfix
    clearfix()


//
// Base reset
//
$reset
    margin 0
    padding 0

//
// Table reset
//
$reset_table
    td, th
        border 0
        padding 0 unit($line_height / 2, "em")
        background none

    td:last-child, th:last-child
        padding-right 0

    td:first-child, th:first-child
        padding-left 0

//
// List reset
//
$reset_list
    list-style none
    padding 0


//
// Disabled
//
$disabled
    cursor not-allowed
