@require "../src/config"
@require "../src/lib/*"

#sidebar
#main
    padding-top unit(line_height, 'em')
    padding-bottom unit(line_height, 'em')

body
    // Uncomment these lines to show the grid

    /*
    background -moz-linear-gradient(top, #ebbaeb .1em, transparent .1em)
    background-image -webkit-linear-gradient(#ebbaeb .1em, transparent .1em)
    background-size 100% unit(line_height, 'em')
    /**/

/* Common classes */

.bg-1  { background-color: #000000; color: contrasted(@background-color) }
.bg-2  { background-color: #84261d; color: contrasted(@background-color) }
.bg-3  { background-color: #0d6524; color: contrasted(@background-color) }
.bg-4  { background-color: #6faa1d; color: contrasted(@background-color) }
.bg-5  { background-color: #fad525; color: contrasted(@background-color) }
.bg-6  { background-color: #e65615; color: contrasted(@background-color) }
.bg-7  { background-color: #d80021; color: contrasted(@background-color) }
.bg-8  { background-color: #e0317f; color: contrasted(@background-color) }
.bg-9  { background-color: #a08dbb; color: contrasted(@background-color) }
.bg-10 { background-color: #0e76bc; color: contrasted(@background-color) }
.bg-11 { background-color: #092e99; color: contrasted(@background-color) }
.bg-12 { background-color: #141c70; color: contrasted(@background-color) }

.color-table
    border 0

    td, th
        border 0
        padding unit(line_height / 2, 'em') 0.5em


.example
    padded_box(1px)
    border 1px solid lighten(color_gray_light, 50%)
    border-radius 3px

div.example
    border-radius 3px 3px 0 0
    flow_block()

    &>*:last-child
        margin-bottom 0

div.example.example-with-code
    margin-bottom 0

div.example + pre.example
    border-top-width 0
    border-radius 0 0 3px 3px

pre.example.togglable
    margin-bottom 0

p.example-toggle
    text-align right


.grider-sample
    .gs-fluid>[class*="unit-"]>*
    .gs-dist>*>*
        padding remsize(get_line_height() / 4)
        margin remsize(0, 0, get_line_height() / 2, 0)
        text-align: center;


/* Highlight.js style
github.com style (c) Vasily Polovnyov <vast@whiteants.net>
*/
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;
}

.hljs-comment,
.hljs-template_comment,
.diff .hljs-header,
.hljs-javadoc {
    color: #998;
    font-style: italic;
}

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.javascript .hljs-title,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
    color: #333;
    font-weight: bold;
}

.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
    color: #099;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.tex .hljs-formula {
    color: #d14;
}

.hljs-title,
.hljs-id,
.coffeescript .hljs-params,
.scss .hljs-preprocessor {
    color: #900;
    font-weight: bold;
}

.javascript .hljs-title,
.lisp .hljs-title,
.clojure .hljs-title,
.hljs-subst {
    font-weight: normal;
}

.hljs-class .hljs-title,
.haskell .hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
    color: #458;
    font-weight: bold;
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
    color: #000080;
    font-weight: normal;
}

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body {
    color: #008080;
}

.hljs-regexp {
    color: #009926;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
    color: #990073;
}

.hljs-built_in,
.lisp .hljs-title,
.clojure .hljs-built_in {
    color: #0086b3;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
    color: #999;
    font-weight: bold;
}

.hljs-deletion {
    background: #fdd;
}

.hljs-addition {
    background: #dfd;
}

.diff .hljs-change {
    background: #0086b3;
}

.hljs-chunk {
    color: #aaa;
}
