@require "../../core/base/config"

$grid_columns        ?= 12
$division_columns    ?= $grid_columns
$distributed_columns ?= $grid_columns
$grid_gutter_width   ?= unit(round($line_height * $base_font_size / 10), rem)
