@require "../base/config"

$btn_default_bg1 ?= lighten($color_gray_light, 35%)
$btn_default_bg2 ?= $btn_default_bg1

$btn_primary_bg1 ?= $color_primary
$btn_primary_bg2 ?= $btn_primary_bg1

$btn_success_bg1 ?= $color_success
$btn_success_bg2 ?= $btn_success_bg1

$btn_warning_bg1 ?= darken($color_warning, 10%)
$btn_warning_bg2 ?= $btn_warning_bg1

$btn_danger_bg1 ?= $color_danger
$btn_danger_bg2 ?= $btn_danger_bg1
