@require "../base/functions"

button_color($bg1, $bg2)
    border-color darken($bg1, 10%)
    border-top-color $bg1
    background-color $bg1
    color contrasted(@background-color)

    if $bg1 != $bg2
        background-image linear-gradient(to top, @background-color, $bg2)

    &:hover, &:focus
        color @color
        border-color darken($bg1, 35%)
        background-color darken($bg1, 15%)
        if $bg1 != $bg2
            background-image linear-gradient(to top, @background-color, darken($bg2, 15%))

    &:active
        color @color
        background-color $bg1

        if $bg1 != $bg2
            background-image linear-gradient(to bottom, $bg1, $bg2)

    &[disabled]
        border-color lighten(@border-color, 40%)
        background-color lighten($bg1, 70%)
        color: lighten(contrasted(@background-color), 30%)

        if $bg1 != $bg2
            background-image linear-gradient(to top, @background-color, lighten($bg2, 70%))

