@require "../../core/base/config"

$color_badge ?= $color_gray
$color_badge_fg ?= $color_base_bg

$badge_color_list = {
    "primary": $color_primary,
    "success": $color_success,
    "info": $color_info,
    "warning": $color_warning,
    "danger": $color_danger
}
