font_face(familly, local=null, woff=null, ttf=null, eot=null)
    @font-face
        font-family familly
        if eot
            src url(eot)

        src = ()
        font_url = 'url(%s) format(%s)'
        if local
            push(src, unquote('local(%s)' % local))

        if eot
            push(src, unquote(s(font_url, eot + '?#iefix', 'embedded-opentype')))

        if woff
            push(src, unquote(s(font_url, ttf, 'woff')))

        if ttf
            push(src, unquote(s(font_url, ttf, 'truetype')))

        src unquote(join(',\n         ', src))

        {block}
