//
// Mobile phones
//
media_mobile()
    @media only screen and (max-width: screen_sm - 0.1)
        {block}

//
// Tablets
//
media_tablet()
    @media only screen and (min-width: screen_sm) and (max-width: screen_md - 0.1)
        {block}

//
// Large screen
//
media_wide()
    @media only screen and (min-width: screen_lg)
        {block}


//
// Webkit target
//
media_webkit()
    @media screen and (-webkit-min-device-pixel-ratio:0)
        {block}
