$message_base
    flow_block()
    padded_box(2px)

    background lighten(color_gray_lighter, 85%)
    border 2px solid color_info
    border-radius 4px

    ul, ol
        padding 0
        list-style none

    &>ul, &>ol, &>p
        &:last-child
            margin-bottom 0

$message_base.success
    border-color color_success

$message_base.warning
    border-color color_warning

$message_base.error
    color: darken(color_danger, 25%)
    border-color color_danger
    background-color lighten(color_danger, 95%)
