range_slider_thumb($webkit_margin=0)
    input[type=range]::-webkit-slider-thumb
        {block}
        -webkit-appearance none
        if $webkit_margin
            margin-top $webkit_margin

    input[type=range]::-moz-range-thumb
        {block}

    input[type=range]::-ms-thumb
        margin 0

range_slider_track()
    input[type="range"]::-webkit-slider-runnable-track
        {block}
        -webkit-appearance none

    input[type="range"]::-moz-range-track
        {block}

    input[type=range]::-ms-track
        {block}
