@require "../../core/base/config"

$horizontal_label_width ?= 12em

$color_field_bg          ?= lighten($color_gray_lighter, 20%)

$color_table_label_bg    ?= $color_gray_lighter

$color_hint ?= $color_info
$size_hint  ?= .9em

$color_important      ?= $color_danger
$color_important_text ?= darken($color_danger, 30%)
$color_important_bg   ?= lighten($color_danger, 80%)
