// Configuration variables
// ============================================================================
horizontal_label_width ?= 12em

color_field_bg          ?= lighten(color_gray_lighter, 20%)
color_table_label_bg    ?= color_gray_lighter
color_input_fg          ?= color_base
color_input_border      ?= color_gray_light
color_input_bg          ?= color_base_bg
color_input_focus_bd    ?= lighten(color_primary, 20%)
color_input_focus_bg    ?= color_input_bg
color_input_disabled_bg ?= darken(color_input_bg, 10%)
color_input_disabled_fg ?= lighten(color_input_fg, 30%)

color_important      ?= color_danger
color_important_text ?= darken(color_danger, 30%)
color_important_bg   ?= lighten(color_danger, 80%)

color_hint ?= color_info
size_hint  ?= 0.9em

btn_default_bg1 ?= lighten(color_gray_light, 35%)
btn_default_bg2 ?= lighten(btn_default_bg1, 40%)

btn_primary_bg1 ?= color_primary
btn_primary_bg2 ?= lighten(btn_primary_bg1, 25%)

btn_success_bg1 ?= color_success
btn_success_bg2 ?= lighten(btn_success_bg1, 25%)

btn_warning_bg1 ?= darken(color_warning, 10%)
btn_warning_bg2 ?= lighten(btn_warning_bg1, 25%)

btn_danger_bg1 ?= color_danger
btn_danger_bg2 ?= lighten(btn_danger_bg1, 25%)


// Common selectors
// ============================================================================
input_widgets = "
    input[type=text],
    input[type=search],
    input[type=tel],
    input[type=url],
    input[type=email],
    input[type=password],
    input[type=datetime],
    input[type=date],
    input[type=month],
    input[type=week],
    input[type=time],
    input[type=number],
    input[type=range],
    input[type=color],
    textarea,select
"


// Base form tags
// ============================================================================
form, fieldset
    min-width 0

fieldset
    border 0
    padding 0
    flow_block()

legend
    border 0
    padding 0
    font-weight bold

label
    max-width 100%
    margin 0
    inline_block()
    // zoom 1
    // *display inline
    // display unquote('inline\0')  // Awfull IE8 hack

    &[for]
        cursor pointer

//
// Input fields
//
$base_input
    font-family font_stack_common
    font-size 1em
    border 1px solid color_input_border
    background-color color_input_bg
    padding 5px 7px
    line-height normal
    border-radius 3px
    box-shadow 0 1px 1px fade(#000, 0.2) inset
    transition box-shadow .3s, border-color .3s

    &:hover, &:focus
        border 1px solid color_input_focus_bd

    &:focus
        outline 0
        background-color color_input_focus_bg
        box-shadow @box-shadow, 0 0 6px fade(color_input_focus_bd, 0.8)

    &:invalid
        border-color color_important
        box-shadow @box-shadow

    &:focus:invalid
        box-shadow @box-shadow, 0 0 6px fade(color_important, 0.8)

{input_widgets}
    @extend $base_input

select
    padding 4px 0

input[type=search]
    -webkit-appearance textfield

input[type=radio]
input[type=checkbox]
    width auto
    border 0
    vertical-align middle
    position relative
    bottom 2px
    line-height 1

input[type=file]
    margin-top 7px
    line-height normal

textarea
    overflow auto
    resize vertical
    line-height line_height

// Placeholders
::-webkit-input-placeholder
input:-moz-placeholder
input::-moz-placeholder
textarea:-moz-placeholder
    color #777

// Disabled fields
html input[disabled]
html textarea[disabled]
    cursor not-allowed

{input_widgets}
    &[disabled]
        background-color color_input_disabled_bg
        color color_input_disabled_fg


// Webkit adjustments
+media_webkit()
    input[type=radio]
        bottom 3px

    input[type=checkbox]
        bottom 1px

    select
        padding 0
        margin 4px 0


// Form layout
// ============================================================================
$field_solid_padding
    margin 0 0 1px 0
    padding unit(line_height / 2, 'em')

// Required field label
.required label, label.required
    font-weight bold

    &:after
        content " *"
        color color_important_text

//
// Form field
//
.form-field
    margin unit(line_height / 2 - 0.4, 'em') 0
    padding 0.4em 0

    .field-content ul
        list-style none
        margin 0
        padding 0

    .hint
        color: color_hint
        font-style italic
        font-size size_hint
        margin-left 0.5em
        inline_block()

    // Solid (with background) field
    &.solid
    / .solid &
        @extend $field_solid_padding
        background-color color_field_bg

    // Stacked on one line
    &.inline .field-content li
        display inline

    // Regrouped fields
    &.regrouped
        ul, li
            display inline

        .field-content>div
            inline_block()
            vertical-align top

        .hint
            display block
            margin-left 0

    // Horizontal (float) field
    &.horizontal
    / .horizontal &
        clear left
        overflow hidden

        &>label
            display block
            width horizontal_label_width
            float left
            margin 0
            padding 6px 0
            line-height normal

            +media_webkit()
                padding 4px 0 8px

        .field-content
            margin 0 0 0 horizontal_label_width + 1em

            textarea
                margin-top 0

            ul
                margin-top 5px
                line-height normal

            // Webkit hack
            +media_webkit()
                margin-top -3px

                textarea
                    margin-top 3px

                ul
                    margin-top 8px

    // Responsive horizontal
    +media_mobile()
        &.horizontal
            &>label
                float none
                width auto
                padding auto

            .field-content
                margin-left 0
                margin-top 0

                ul, textarea
                    margin-top 0

            .hint
                margin-left 0

            &.with-errors .errorlist
                margin-left 0

//
// Table form
//
.form-table
    border 1px solid darken(color_table_label_bg, 10%)

    th, td
        border 0

    thead th
        background-color color_table_label_bg
        color contrasted(color_table_label_bg)
        padding 0.5em

    tbody td
        vertical-align bottom
        padding 0.5em

    tbody tr:nth-child(even) td:not(.with-errors)
        background-color lighten(color_table_label_bg, 50%)

    input[type=checkbox], input[type=radio]
        margin-bottom 6px


//
// Errors
//
.form-field
    &.with-errors
        background-color color_important_bg

        padding unit(line_height / 2, 'em')
        margin-left unquote('-' + @padding)
        margin-right unquote('-' + @padding)

        &.solid
        .solid &
            @extend $field_solid_padding

        {input_widgets}
            @extend $base_input:invalid

            &:focus
                @extend $base_input:focus:invalid

    .errorlist
        @extend $reset
        @extend $reset_list
        color color_important_text
        font-weight bold

    &.horizontal .errorlist
        // Offset errorlist on horizontal fields
        margin-left horizontal_label_width + 1em

    &.horizontal.regrouped .errorlist
        margin 0

if has_hown_form_errors is not true
    .form-errors
        @extend $message_base
        @extend $message_base.error
