screen_sm = 480px
has_hown_form_errors = true

@require "../../config.styl"
@require "../../lib/**"
@require "../../base/base.ext"

@require "forms"

@require "buttons.ext"

button
input[type=button],
input[type=reset],
input[type=submit]
    -webkit-appearance button
    width auto
    overflow hidden

    @extend $button_base

@require "../messages/messages.ext"
.form-errors
    margin 1em 0
    padding 1em
    border 1px solid

    @extend $message_base.error

    ul, ol
        @extend $message_base ul

    &>ul, &>ol, &>p
        @extend $message_base>ul
